<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>입력화면</title>
    <style>
        table{
        border-collapse: collapse;
        }

        a{
        color: #000;
        }
    </style>
</head>
<body>
    <h2>신규멤버입력폼</h2>
    <a th:href="@{/list}">메인리스트페이지로 이동</a>
    <br/><hr/><br/>
    <form th:action="@{/member/insert}" method="post">
        <div>
          <label for="name">이름</label>
          <input type="text" name="name">
        </div>
        <div>
          <label for="age">나이</label>
          <input type="text" name="age">
        </div>
        <div>
          <label for="address">주소</label>
          <input type="text" name="address">
        </div>
        <br/>
      <div>
        <input type="submit" value="등록">
      </div>
    </form>
</body>
</html>